@using GridMvc.Html
@model IEnumerable<YahooFantasy.Web.Ui.Models.QuarterbackAnnualViewModel>

<script>
	$('#loading').modal('hide');
</script>

@Html.Grid(Model).AutoGenerateColumns().WithPaging(20).Sortable().Filterable().WithMultipleFilters()

@*<table class="table table-striped player-data">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Position)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Team)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.GamesPlayed)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PassingAttempts)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Completions)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IncompletePasses)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PassingYards)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PassingTouchdowns)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Interceptions)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Sacks)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RushingAttempts)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RushingYards)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RushingTouchdowns)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Position)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Team)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.GamesPlayed)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.PassingAttempts)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Completions)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.IncompletePasses)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.PassingYards)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.PassingTouchdowns)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Interceptions)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Sacks)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.RushingAttempts)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.RushingYards)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.RushingTouchdowns)
		</td>
	</tr>
}

</table>*@
