<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>The Fantasy Project</title>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/charts")
	@Scripts.Render("~/bundles/toastr")
	@Scripts.Render("~/bundles/bootstrap")
	@Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/charts")
	@Styles.Render("~/Content/css")
</head>
<body>
	<div id="navigation">
		<span class="nav-title">the fantasy project</span>
		<div class="nav-separator"></div>
		<span class="nav-subtitle">charts</span>
		<span class="nav-subtitle-sub">adp vs. ppg</span>
		<span class="nav-nav"><a href="#" data-id="2014">2014</a></span>
		<span class="nav-nav"><a href="#" data-id="2013">2013</a></span>
		<span class="nav-nav"><a href="#" data-id="2012">2012</a></span>
	</div>
	<div class="chart-container">
		@RenderBody()
	</div>
</body>
</html>