@using Microsoft.Owin.Security
@using TheFantasyProject.Web.Charts.Models

@model ExternalLoginListViewModel

@{
	ViewBag.Title = "Trades";
}

<div class="row trades">
	@{
		var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
		var p = loginProviders.First();

		using (Html.BeginForm("ExternalLogin", "Trades"))
		{
			@Html.AntiForgeryToken()
			<div id="socialLoginList" class="col-lg-12">
				<p>
					<button type="submit" class="btn btn-lg btn-success center-block" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Get data from @p.AuthenticationType</button>
				</p>
			</div>
		}

		@*using (Html.BeginForm("LogOut", "Trades"))
			{
				@Html.AntiForgeryToken()
				<button type="submit" class="btn btn-danger" value="@p.AuthenticationType">Log out of Yahoo</button>
			}*@
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<div class="col-lg-12">
				<h2 class="text-center">@ViewBag.ErrorMessage</h2>
			</div>
		}
		else
		{
			if (ViewBag.Success)
			{
				<div class="col-lg-12">
					<h1 class="text-center">Data loaded!  Thanks!</h1>
				</div>
			}
		}
	}
</div>


@*<div class="row">
		<div class="col-lg-6 center-block">
			<input type="text" placeholder="Search for player ..." class="typeahead" />
		</div>
	</div>*@

<script>
	//$('input.typeahead').typeahead({
	//	source: function (query, process) {
	//		a
	//		objects = [];
	//		map = {};
	//	}
	//})
</script>